/*
all pages
*/

.row
{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    margin-bottom: 5%;
}

.pgBtns
{
    font-size: 1.25em;
    padding: 5px 10px;
    border-style:groove;
    border-color:black;
    border-radius: 5px;
    background-color: rgb(241, 215, 142);
    transition: background-color 0.25s;
}
.pgBtns:hover{
    background-color: rgb(228, 182, 54);
}


/*
Here we start a new version of the website
*/

/*
Stylesheet for Homepage
*/

#vone
{
    background: linear-gradient(to left, skyblue, lightgreen);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#myTitle{
    padding: 5px 10px;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    border-color: rgb(45, 45, 45);
    background-color: rgb(93, 187, 237);
    font-size: 1.25em;
}
.centered
{
    text-align: center;
}
.enlarge
{
    font-size: 1.5em;
}
#calcActBtn{
    font-size: 1.25em;
}
/*#calcFunc{
    background-color: gray;
    padding: 5px 10px;
    border-style:groove;
    border-color:black;
}*/
#calcRes{
    background-color: rgb(177, 177, 177);
    
    border-style:groove;
    border-color:black;
}
.bkgr
{
    background: linear-gradient(to left, white, lightblue)
}

/*
    Stylesheet for page 2
*/

#vtwo
{
    background-image: url("MinecraftPhoto.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
#Title2{
    border-bottom-style:ridge;
    border-bottom-width: 8px;
    border-top-style: double;
    border-left-style: double;
    border-right-style: double;
    border-width: 5px;
    border-color: blueviolet;
    border-start-start-radius: 10px;
    border-start-end-radius: 10px;
}
.centered
{
    text-align: center;
}
.fonts
{
    color: rgb(95, 117, 218);
    font-style: italic; 
    font-family: sans-serif, "consolas", sans-serif;
    font-weight: bold;
    /*text-decoration: purple dotted underline;*/
    font-size:18px;
}
.class-2
{
    color: rgb(0, 0, 0);
}
#bord
{
    border-style:outset;
    border-width: 5px;
    border-color: gold;
    border-radius: 10px;
    padding: 5px;
}

/*
Stylesheet for Page 3
*/

#pg3Background{
    background-color: rgb(241, 238, 238);
}
#Title
{
    font-family: "press Start 2P";
    text-align: center;
    background: linear-gradient(red, orange);
    background-repeat: no-repeat;
    border-style:dotted;
    border-style:dashed;
    padding: 10px;
    border-end-end-radius: 15px;
    border-end-start-radius: 15px;
    font-size: 150%;
}
.box
{
    font-family: sans-serif;
    font-size: 1.2em;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    margin: auto;
    max-width: 350px;
    min-width: 320px;
    min-height: 300px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.361);
}

/* Temperature css */

#tempTitle
{
    color: rgb(95, 117, 218);
}
#tempNr{
    text-align: center;
    width: 50%;
    font-size: 2em;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    margin-bottom: 10px;
}
#tempBtn{
    margin-top: 20px;
    background-color: red;
    font-size: 1.25em;
    padding: 5px 10px;
    border-radius: 5px;
    cursor:pointer;
    transition: background-color 0.3s;
    transition: font-size 0.3s;
}
#tempBtn:hover{
    background-color: rgb(255, 128, 0);
    font-size: 1.5em;
}
#tempBtn:active{
    background-color: rgb(255, 200, 0);
    font-size: 1.5em;
}
#tempResult{
    font-size: 1.5em;
    font-weight: bold;
}

/* Password Generator css */

#pswdTempRow
{
    max-width: 800px;
    display: flex;
    justify-content: space-between;
}
.pswdGenTitle
{
    color: rgb(158, 31, 218);
}
#pswdGenBtn{
    margin-top: 10px;
    color: white;
    background-color: rgb(0, 60, 255);
    font-size: 1.25em;
    padding: 5px 10px;
    border-radius: 5px;
    cursor:pointer;
    transition: background-color 0.3s;
    transition: font-size 0.3s;
}
#pswdGenBtn:hover{
    background-color: rgb(0, 89, 255);
    font-size: 1.5em;
}
#pswdGenBtn:active{
    background-color: rgb(0, 136, 255);
    font-size: 1.5em;
}
#pswdLeng
{
    text-align: center;
    width: 50%;
    font-size: 2em;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    margin-bottom: 10px;
}

/* Time css */

#timeBoxTitle{
    color:rgba(0, 255, 255, 0.899);
}
#timeBox
{
    background-position: left;
    background-size: cover;
    background-image: url("MinecraftPhoto.png");
    color:aliceblue;
    font-family: sans-serif;
    font-size: 1.2em;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    width: 350px;
    height: 320px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.361);
    transition: width height font-size 0.5s;
    transition-duration: 0.5s;
}
#timeBox:hover
{
    width: 380px;
    height: 355px;
    font-size: 1.3em;
}
#currentTime{
    text-align: center;
    justify-content: space-between;
    margin-top: 90px;
    font-size: 2.3em;
    font-family: monospace, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    backdrop-filter: blur(3px);
}

/* Timer css */

#timerBox
{
    font-family: sans-serif;
    font-size: 1.2em;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: white;
    text-align: center;
    margin: auto;
    max-width: 350px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}
#timer{
    color: rgba(0, 0, 0, 0.765);
    margin-top: 30px;
    font-size: 2.3em;
    text-align: center;
    font-family: monospace, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
.timerBtn
{
    border-style: none;
    color: white;
    font-size: 1.25em;
    padding: 5px 10px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 12px;
    cursor:pointer;
    transition: font-size 0.4s;
}
.timerBtn:hover{
    font-size: 1.4em;
}
#startTimer{
    background-color: blue;
}
#startTimer:hover{
    background-color: rgb(0, 89, 255);
}
#startTimer:active{
    background-color: rgb(43, 172, 208);
}
#stopTimer{
    background-color: red;
}
#stopTimer:hover{
    background-color: rgb(255, 70, 0);
}
#stopTimer:active{
    background-color: rgb(255, 157, 0);
}
#resetTimer{
    background-color: rgb(1, 137, 1);
}
#resetTimer:hover{
    background-color: rgb(32, 166, 2);
}
#resetTimer:active{
    background-color: rgb(39, 202, 2);
}


/* Timer css */

#alarmBox
{
    font-family: sans-serif;
    font-size: 1.2em;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: white;
    text-align: center;
    margin: auto;
    max-width: 350px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}
#alarmHour{
    color: rgba(0, 0, 0, 0.765);
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 2em;
    width: 10%;
    text-align: center;
    font-family: monospace, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
#alarmMinute{
    color: rgba(0, 0, 0, 0.765);
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 2em;
    width: 10%;
    text-align: center;
    font-family: monospace, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

/* Switch */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #2196F3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* round sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
